################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App.DataStructure/obj/Debug/net7.0/refint/App.DataStructure.dll
/App.DataStructure/obj/Debug/net7.0/ref/App.DataStructure.dll
/App.DataStructure/obj/App.DataStructure.csproj.nuget.dgspec.json
/App.DataStructure/obj/App.DataStructure.csproj.nuget.g.props
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.AssemblyInfo.cs
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.AssemblyInfoInputs.cache
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.assets.cache
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.csproj.AssemblyReference.cache
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.csproj.CoreCompileInputs.cache
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.csproj.FileListAbsolute.txt
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.dll
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.GeneratedMSBuildEditorConfig.editorconfig
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.pdb
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.sourcelink.json
/AppDataReader/obj/Debug/net7.0-windows/ref/AppDataReader.dll
/AppDataReader/obj/Debug/net7.0-windows/refint/AppDataReader.dll
/AppDataReader/obj/AppDataReader.csproj.nuget.dgspec.json
/AppDataReader/obj/AppDataReader.csproj.nuget.g.props
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.AssemblyInfo.cs
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.AssemblyInfoInputs.cache
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.assets.cache
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.csproj.AssemblyReference.cache
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.csproj.CoreCompileInputs.cache
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.csproj.FileListAbsolute.txt
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.dll
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.GeneratedMSBuildEditorConfig.editorconfig
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.pdb
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.sourcelink.json
/AppDataReader/obj/project.assets.json
/AppDataReader/obj/project.nuget.cache
/WSCADWpf/obj/Debug/net7.0-windows/App.g.cs
/WSCADWpf/obj/Debug/net7.0-windows/App.g.i.cs
/WSCADWpf/obj/Debug/net7.0-windows/MainWindow.baml
/WSCADWpf/obj/Debug/net7.0-windows/MainWindow.g.cs
/WSCADWpf/obj/Debug/net7.0-windows/MainWindow.g.i.cs
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf.AssemblyInfo.cs
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf.AssemblyInfoInputs.cache
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf.assets.cache
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf.csproj.AssemblyReference.cache
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf.csproj.CoreCompileInputs.cache
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf.csproj.FileListAbsolute.txt
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf.designer.runtimeconfig.json
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf.g.resources
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf.GeneratedMSBuildEditorConfig.editorconfig
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf.sourcelink.json
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf_MarkupCompile.cache
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf_MarkupCompile.i.cache
/WSCADWpf/obj/Debug/net7.0-windows/WSCADWpf_MarkupCompile.lref
/WSCADWpf/obj/project.assets.json
/WSCADWpf/obj/project.nuget.cache
/WSCADWpf/obj/WSCADWpf.csproj.nuget.dgspec.json
/WSCADWpf/obj/WSCADWpf.csproj.nuget.g.props
/AppShape/obj/AppShape.csproj.nuget.dgspec.json
/AppShape/obj/AppShape.csproj.nuget.g.props
/AppShape/obj/Debug/net7.0-windows/AppShape.AssemblyInfo.cs
/AppShape/obj/Debug/net7.0-windows/AppShape.AssemblyInfoInputs.cache
/AppShape/obj/Debug/net7.0-windows/AppShape.assets.cache
/AppShape/obj/Debug/net7.0-windows/AppShape.csproj.AssemblyReference.cache
/AppShape/obj/Debug/net7.0-windows/AppShape.csproj.CoreCompileInputs.cache
/AppShape/obj/Debug/net7.0-windows/AppShape.csproj.FileListAbsolute.txt
/AppShape/obj/Debug/net7.0-windows/AppShape.GeneratedMSBuildEditorConfig.editorconfig
/AppShape/obj/Debug/net7.0-windows/AppShape.sourcelink.json
/AppShape/obj/project.assets.json
/AppShape/obj/project.nuget.cache
/AppDTO/obj/AppDTO.csproj.nuget.dgspec.json
/AppDTO/obj/AppDTO.csproj.nuget.g.props
/AppDTO/obj/Debug/net7.0-windows/AppDTO.AssemblyInfo.cs
/AppDTO/obj/Debug/net7.0-windows/AppDTO.AssemblyInfoInputs.cache
/AppDTO/obj/Debug/net7.0-windows/AppDTO.assets.cache
/AppDTO/obj/Debug/net7.0-windows/AppDTO.csproj.AssemblyReference.cache
/AppDTO/obj/Debug/net7.0-windows/AppDTO.csproj.CoreCompileInputs.cache
/AppDTO/obj/Debug/net7.0-windows/AppDTO.csproj.FileListAbsolute.txt
/AppDTO/obj/Debug/net7.0-windows/AppDTO.GeneratedMSBuildEditorConfig.editorconfig
/AppDTO/obj/Debug/net7.0-windows/AppDTO.sourcelink.json
/AppDTO/obj/project.assets.json
/AppDTO/obj/project.nuget.cache
/App.DataStructure/obj/project.assets.json
/App.DataStructure/obj/project.nuget.cache
/WSCADWpf/.vs/ProjectEvaluation/wscadwpf.metadata.v6.1
/WSCADWpf/.vs/ProjectEvaluation/wscadwpf.metadata.v7.bin
/WSCADWpf/.vs/ProjectEvaluation/wscadwpf.projects.v6.1
/WSCADWpf/.vs/ProjectEvaluation/wscadwpf.projects.v7.bin
/WSCADWpf/.vs/WSCADWpf/FileContentIndex/24921927-4d8e-466a-93a2-454b3d4b7a08.vsidx
/WSCADWpf/.vs/WSCADWpf/FileContentIndex/2b1c8891-1de7-4eda-b8c7-94bbaa7fd961.vsidx
/WSCADWpf/.vs/WSCADWpf/FileContentIndex/731bc39a-f087-4480-82fd-9431d88cf808.vsidx
/WSCADWpf/.vs/WSCADWpf/FileContentIndex/7a085b1f-01b1-4822-87d5-56a8bc33c12a.vsidx
/WSCADWpf/.vs/WSCADWpf/FileContentIndex/8530b8b1-f962-429d-99c0-bd405a2cb1c8.vsidx
/WSCADWpf/.vs/WSCADWpf/FileContentIndex/8858fdbe-de59-4001-a9de-911a39974d81.vsidx
/WSCADWpf/.vs/WSCADWpf/FileContentIndex/d084d17c-029f-4354-a170-65e0fdfa4500.vsidx
/WSCADWpf/.vs/WSCADWpf/FileContentIndex/ebd0f208-1d8c-4bf0-9b0d-e7ae92802d13.vsidx
/WSCADWpf/.vs/WSCADWpf/FileContentIndex/edecab16-8cc3-4ac4-bc42-13d505b7dd53.vsidx
/WSCADWpf/.vs/WSCADWpf/FileContentIndex/read.lock
