################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App.DataStructure/obj/Debug/net7.0/refint/App.DataStructure.dll
/App.DataStructure/obj/Debug/net7.0/ref/App.DataStructure.dll
/App.DataStructure/obj/App.DataStructure.csproj.nuget.dgspec.json
/App.DataStructure/obj/App.DataStructure.csproj.nuget.g.props
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.AssemblyInfo.cs
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.AssemblyInfoInputs.cache
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.assets.cache
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.csproj.AssemblyReference.cache
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.csproj.CoreCompileInputs.cache
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.csproj.FileListAbsolute.txt
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.dll
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.GeneratedMSBuildEditorConfig.editorconfig
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.pdb
/App.DataStructure/obj/Debug/net7.0/App.DataStructure.sourcelink.json
/AppDataReader/obj/Debug/net7.0-windows/ref/AppDataReader.dll
/AppDataReader/obj/Debug/net7.0-windows/refint/AppDataReader.dll
/AppDataReader/obj/AppDataReader.csproj.nuget.dgspec.json
/AppDataReader/obj/AppDataReader.csproj.nuget.g.props
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.AssemblyInfo.cs
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.AssemblyInfoInputs.cache
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.assets.cache
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.csproj.AssemblyReference.cache
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.csproj.CoreCompileInputs.cache
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.csproj.FileListAbsolute.txt
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.dll
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.GeneratedMSBuildEditorConfig.editorconfig
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.pdb
/AppDataReader/obj/Debug/net7.0-windows/AppDataReader.sourcelink.json
/AppDataReader/obj/project.assets.json
/AppDataReader/obj/project.nuget.cache
